{% raw %}
  <div class='profile_tab_content hidden' id="profile_tab_alerts_content">
    <div style="max-width:940px;">
      {% if user_type == 'local' %}
        <p>Here are the searches you have saved for later. If you <a href="#user">sign in or register</a> we will save these to your account. By signing in, you will also be able to set up email alerts for new properties matching your saved searches.</p>
        {% else %}
        <p>Here are the searches you have saved for later. </p>
      {% endif %}
      {% for search in saved_searches %}
        <div class= 'saved_property' style='z-index:200000000; position:relative; width:880px; float:left; margin-top:10px;'>
          {% if search.performed_data %}
            <a href ='{{search.link}}'>
              <div class='stack{{forloop.index}}'>
                <img src='{{search.performed_data.properties[0].small_photo}}'/>
              </div>
            </a>
          {% endif %}
          <div class='sp_content' style ='margin-left: 115px; width:600px;'>
            <h2>
              {% if search.performed_data %}
               {{search.performed_data.pagination.total_count}} properties
              {% else %}
                Properties
              {% endif %}
                {{search.description}}
            </h2>
            <div class="right">
              <ul class='piped'>
                <li class="orange"> <a class="orange bold" href='{{search.link}}'>Visit</a></li>
                <li class='last'><a class="orange bold" onclick='Ctesius.Actions.removeSavedSearch("{{search.search_id}}"); '>Delete</a></li>
              </ul>
            </div>
            <div class="alert_settings left">
              Email matching properties:
              <select class="alert_frequency" onchange="updateSearch(this)">
                <option {%if search.alert_frequency == 'I'%}selected="selected"{%endif%} value="{{search.search_id}}_I">Immediately</option>
                <option {%if search.alert_frequency == 'W'%}selected="selected"{%endif%} value="{{search.search_id}}_W">Weekly</option>
                <option {%if search.alert_frequency == 'M'%}selected="selected"{%endif%} value="{{search.search_id}}_M">Monthly</option>
                <option {% unless search.alert_frequency %} selected="selected" {% endunless %} value="{{search.search_id}}_">Never</option>
              </select>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endraw %}
