<h1>All {% if topic %}{{topic}}{% endif %} articles</h1>
{% for news_article in articles %}
  <div class="article">
    <a href="/articles/{{news_article.slug}}">
      {% if news_article.promo_image %}
        <img src="{{news_article.promo_image | url_for_generic_image }}" />
      {% else %}
        <img src="https://mr0.homeflow.co.uk/files/site_asset/image/2833/2736/latest_news.jpg" />
      {% endif %}
    </a>
    <h3 class="article-header">
      <a href="/articles/{{news_article.slug}}">{{ news_article.title | truncate: 55 }}</a>
    </h3>
    <div class="article-details">
      <span class="article-date">{{ news_article.date }}</span>
      {{ news_article.promo | truncate: 100 }} <a class="article-more-link" href="/articles/{{ news_article.slug }}">more &gt;</a>
    </div>
  </div>
{% endfor %}
